SERVER_MAC_ADDRESS= '<macaddress with . as separators>'
SERVER_IP= '192.168.1.150'
GAMESERVER_API_URL= 'http://192.168.1.150:8212/v1/api'
GAMESERVER_API_BASIC_AUTH= '<Base64 Value of your <user>:<password> set in your server settings>'
SSH_USERNAME="username of the account on target server"
SSH_PASSWORD="plain Password of the account on target server"
CONTAINER_NAME="compose-palworld-server-1"
COMPOSE_FOLDER="/home/palworld-server/palworld-dedicated-server-docker/compose"
DISCORD_BOT_TOKEN="<your bot token here, acquired on discord developer portal>"
GUILD_ID= "<your discord server or guild id>"
BROADCAST_CHANNEL_ID=""
STOP_TIME="30" # Time in mins before automatic closure
SLEEP_TIME="5" # same here but with server sleep
SQLITE_DB_FILE="schlooby.db" # path to sqlite db file
CONNECT_DNS="<your ip or dns>"
CONNECT_PASSWORD="<server password, only used to show connection details>"
GAME="Name of the game hosted"
SCHLOOBY_VERSION="0.1.0"